<form (ngSubmit)="!registryForm.invalid && saveUser()" #registryForm="ngForm"
  class="text-center border border-light p-5">

  <p class="h4">Registro</p>

  <div class="form-row mb-4">
    <div class="col">
      <input type="text" id="firstName" class="form-control" placeholder="Nombre" #firstNameTxt="ngModel"
        [(ngModel)]="firstName" name="firstName" required aria-describedby="firstNameHelp">
      <small id="firstNameHelp" class="form-text text-muted" *ngIf="firstNameTxt.dirty && firstNameTxt.invalid">Ingrese
        su nombre</small>
    </div>
    <div class="col">
      <input type="text" id="lastName" class="form-control" placeholder="Apellido" #lastNameTxt="ngModel"
        [(ngModel)]="lastName" name="lastName" required aria-describedby="lastNameHelp">
      <small id="lastNameHelp" class="form-text text-muted" *ngIf="lastNameTxt.dirty && lastNameTxt.invalid">Ingrese
        su apellido</small>
    </div>
  </div>

  <input type="text" id="username" class="form-control mb-4" placeholder="Nombre de usuario" #usernameTxt="ngModel"
    [(ngModel)]="username" name="username" required aria-describedby="usernameHelp">
  <small id="usernameHelp" class="form-text text-muted" *ngIf="usernameTxt.dirty && usernameTxt.invalid">Ingrese
    nombre de usuario</small>

  <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" #emailTxt="ngModel" [(ngModel)]="email"
    name="email" required aria-describedby="emailHelp">
  <small id="emailHelp" class="form-text text-muted" *ngIf="emailTxt.dirty && emailTxt.invalid">Ingrese
    un correo válido</small>

  <input type="password" id="password" class="form-control" placeholder="Contraseña" #passwordTxt="ngModel"
    [(ngModel)]="password" name="password" required minlength="6" aria-describedby="passwordHelper">
  <small id="passwordHelper" class="form-text text-muted mb-4">
    Ingrese al menos 6 caracteres
  </small>

  <button mdbBtn color="info" block="true" class="my-4" type="submit">Registrate</button>

</form>